asgiref==3.2.3
certifi==2019.11.28
chardet==3.0.4
Django==3.0.1
django-autocomplete-light==3.5.0
django-crispy-forms==1.8.1
django-extensions==2.2.5
django-filter==2.2.0
django-super-deduper==0.1.2
django-tables2==2.2.1
djangorestframework==3.11.0
idna==2.8
numpy==1.18.0
pandas==0.25.3
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
six==1.13.0
sqlparse==0.3.0
urllib3==1.25.7
